/* Imports */
@import 'fonts/fonts';

/* Secret Color Assigning */
$color-tomato: #e43b44;
$color0: transparent;
$color1: #FFC600;

$color2: #2ECB70;
$color3: #2EAAE2;
$color4: #313E48;

$PaletteBlack: #302c2e;
$PaletteWhite: #dff6f5;
$PaletteGray: #5a5353;
$PaletteBlueText: #3978a8;
$color-button-text: $PaletteWhite;

body {
  background-color: $PaletteBlack;
  padding: 2em;
  margin: 0;
  font-family: $press-start-2p;
  line-height: 1.4285em;

  // ScrollBar nonsense (similar to semantic-ui css)
  & ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
  }
  & ::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 5px;
    background: rgba(0,0,0,.25);
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
    &:hover {
      background: rgba(200,200,200, .25)
    }
  }
  & ::-webkit-scrollbar-track {
    background: rgba(0,0,0,.1);
    border-radius: 0;
  }
}
h1, h2, h3, h4, p, ul, li, button {
  font-family: $press-start-2p;
  color: $PaletteWhite;
}
a {
  font-family: $press-start-2p;
  color: $PaletteBlueText;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  padding: 0;
  line-height: 1.25em;
}

p {
  margin: 0 0 1em;
  line-height: 1.45em;
}


.tomato {
  position: absolute;
  top: 45%;
  left:50%;
  transform: translate(-50%, -45%);
  width: 640px;
  height: 640px;
  background-image: url("/TomatoLarge.png");
  background-repeat: no-repeat;
  align-items: center;
  font-size: 16px;
  .menu {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding-top: 250px;

    a {
      text-decoration: none;
      margin: 20px;

      .fade-button {
        text-align: center;
        position: relative;
        padding: 8px;
        color: $color-button-text;
        border: none;

        .text-content {
          position: relative;
          opacity: 1;
          -webkit-transform: scale(1);
          transform: scale(1);
        }
        .icon-content {
          position: absolute;
          box-sizing: inherit;
          left: 0;
          right: auto;
          opacity: 0;
          -webkit-transform: scale(1.8);
          transform: scale(1.8);
          margin-top: -16px;
          top: 50%;
        }
        .text-content, .icon-content {
          width: 100%;
          pointer-events: none;
          -webkit-transition: opacity .3s ease,-webkit-transform .3s ease;
          transition: opacity .3s ease,transform .3s ease,-webkit-transform .3s ease;
        }

        &:hover {
          .text-content {
            opacity: 0;
          }
          .icon-content {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
          }
        }
      }
    }
  }
}

/* Secret Color Preperation */
.color0, .color1, .color2, .color3, .color4 {
  background-color: $color0;
}

.page-container {
  ul.header {
    display: flex;
    align-items: center;
    background-color: $PaletteGray;
    padding: 0;
    overflow-x: auto;
    margin: 0;
    li {
    display: inline;
    list-style-type: none;
    text-transform: capitalize;
    &.active-nav-subcategory {
      border-bottom-width: 2;
      border-bottom-style: solid;
      border-bottom-color: $PaletteWhite;
    }
      a {
        img{
          padding: 20
        }
        .navbar-text-button {
          padding-top: 10;
          padding-bottom: 5;
          padding-left: 20;
          padding-right: 20;
          color: $PaletteWhite;
          text-decoration: none;
        }
      }
    }
  }
  .page-text-container {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
  }
}

/* rules for digital artwork pieces */
.pixel-backgrounds, .pixel-sprites {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
}

.resizable-digital-art-piece, .digital-art-piece {
  margin: 10px;
  overflow: auto;
}

.small-digital-art-piece {
  display: none;
}

/* rules for game previews */
.game-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  a  {
    .game-preview-image {
      max-width: 100%;
      display: block;
    }
  }
  p {
    margin-top: 10px 
  }
}



@media only screen and (max-width: 768px) {
  body {
    padding: 0;
  }
  .page-container {
    .page-text-container {
      .ui.secondary.menu {
        overflow-x: scroll;
        overflow-y: hidden;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }

  .tomato {
    background-image: url("/TomatoSmall.png");
    width: 320px;
    height: 320px;
    .menu {
      padding-top: 150px;
      flex-direction: row;
      
      a {
        margin: 0;
        .fade-button {
          width: 40px;
          height: 40px;
          .text-content {
            opacity: 0;
          }
          .icon-content {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
          }
        }
      }
    }
  }

  /* rules for digital artwork pieces */
  .big-digital-art-piece {
    display: none;
  }
  .small-digital-art-piece {
    display: inline;
  }
}

/* An experience for truly tiny phone screens */
@media only screen and (max-width: 320px) {
  .tomato {
    background-image: none;
    .menu {
      flex-direction: column;
    }
  }
  /* Secret Colors Implementation */
  .color1 {
    background-color: $color1;
  }
  .color2 {
    background-color: $color2;
  }
  .color3 {
    background-color: $color3;
  }
  .color4 {
    background-color: $color4;
  }
}