/* Imports */
@import 'fonts/fonts';

/* Secret Color Assigning */
$color-buton-text: white;
$color-tomato: #e43b44;
$color0: transparent;
$color1: #4285f4;
$color2: #34A853;
$color3: #FBBC05;
$color4: #EA4335;

body {
  background-color: white;
  padding: 2em;
  margin: 0;
  font-family: $press-start-2p;
}
h1, h2, h3, h4, p, ul, li, a, button {
  font-family: $press-start-2p;
}


.tomato {
  position: absolute;
  top: 45%;
  left:50%;
  transform: translate(-50%, -45%);
  width: 640px;
  height: 640px;
  background-image: url("/TomatoLarge.png");
  background-repeat: no-repeat;
  align-items: center;
  font-size: 16px;
  .menu {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding-top: 250px;

    a {
      text-decoration: none;
      margin: 20px;

      .fade-button {
        text-align: center;
        position: relative;
        padding: 8px;
        color: $color-buton-text;
        border: none;

        .text-content {
          position: relative;
          opacity: 1;
          -webkit-transform: scale(1);
          transform: scale(1);
        }
        .icon-content {
          position: absolute;
          box-sizing: inherit;
          left: 0;
          right: auto;
          opacity: 0;
          -webkit-transform: scale(1.8);
          transform: scale(1.8);
          margin-top: -16px;
          top: 50%;
        }
        .text-content, .icon-content {
          width: 100%;
          pointer-events: none;
          -webkit-transition: opacity .3s ease,-webkit-transform .3s ease;
          transition: opacity .3s ease,transform .3s ease,-webkit-transform .3s ease;
        }

        &:hover {
          .text-content {
            opacity: 0;
          }
          .icon-content {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
          }
        }
      }
    }
  }
}

/* Secret Color Preperation */
.color0, .color1, .color2, .color3, .color4 {
  background-color: $color0;
}

.page-container {
  ul.header {
    background-color: #111;
    padding: 0;
    li {
    display: inline;
    list-style-type: none;
    margin: 0;
      a {
        color: #FFF;
        font-weight: bold;
        text-decoration: none;
        padding: 20px;
        display: inline-block;
      }
    }
  }
  .page-text-container {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
  }
}



@media only screen and (max-width: 768px) {
  body {
    padding: 0;
  }
  .page-container {
    .page-text-container {
      .ui.secondary.menu {
        overflow-x: scroll;
        overflow-y: hidden;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }

  .tomato {
    background-image: url("/TomatoSmall.png");
    width: 320px;
    height: 320px;
    .menu {
      padding-top: 150px;
      flex-direction: row;
      
      a {
        margin: 8px;
        .fade-button {
          width: 40px;
          height: 40px;
          .text-content {
            opacity: 0;
          }
          .icon-content {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
          }
        }
      }
    }
  }
}

/* An experience for truly tiny phone screens */
@media only screen and (max-width: 320px) {
  .tomato {
    background-image: none;
    .menu {
      flex-direction: column;
    }
  }
  /* Secret Colors Implementation */
  .color1 {
    background-color: $color1;
  }
  .color2 {
    background-color: $color2;
  }
  .color3 {
    background-color: $color3;
  }
  .color4 {
    background-color: $color4;
  }
}