body {
  background-color: white;
  padding: 2em;
  margin: 0;
}
h1, h2, p, ul, li, a {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 1em;
  display: inline-block;
}

.tomato {
  margin: auto;
  height: 40em;
  width: 40em;
  background-image: url("/tomato.svg");
  border-radius: 50%;
  padding: 122;
  align-items: center;
}
.tomato .menu {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding-top: 9em;
}

.tomato .menu a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5em;
  display: e-block;
}

.ui.color1.button {
  background-color: #FD4848;
  color: #fff;
}

footer {
  position: fixed;
  text-align: center;
  bottom: 0;
}